@using RCL.Spike.Editor.Views.Shared.Components
@model AlertButtonViewComponent.Model

<button type="button" class="btn btn-primary rcl-spike-alert-button" data-control-id="@Model.Id">Alert Button</button>